*.ttf filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
docs/screenshots/*.png filter=lfs diff=lfs merge=lfs -text
crates/aura-daemon/assets/*.png filter=lfs diff=lfs merge=lfs -text
